<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.7</string>
	<key>Droppable</key>
	<false/>
	<key>InterpreterArgs</key>
	<array/>
	<key>OutputType</key>
	<string>None</string>
	<key>RemainRunningAfterCompletion</key>
	<false/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptInterpreter</key>
	<string>/bin/bash</string>
	<key>Secure</key>
	<false/>
</dict>
</plist>
