textarea {resize:both;-webkit-dashboard-region:dashboard-region(control rectangle);}
button {-webkit-dashboard-region:dashboard-region(control rectangle);}
input {-webkit-dashboard-region:dashboard-region(control rectangle);}
