<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basecamp.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>highrisehq.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>campfirenow.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>me.com</key>
	<array>
		<string>*me.com*</string>
		<string>*mobileme.com*</string>
		<string>*mac.com*</string>
		<string>*auth*apple.com*</string>
	</array>
	<key>mobileme.com</key>
	<array>
		<string>*mobileme.com*</string>
		<string>*me.com*</string>
		<string>*mac.com*</string>
		<string>*auth*apple.com*</string>
	</array>
	<key>mac.com</key>
	<array>
		<string>*mac.com*</string>
		<string>*me.com*</string>
		<string>*mobileme.com*</string>
		<string>*auth*apple.com*</string>
	</array>
	<key>google.com</key>
	<array>
		<string>*google.com*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>GAFYD</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>partnerpage.google.com</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*calendar*</string>
		<string>*calendar*google.com*</string>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
	</array>
	<key>google.com/a/</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*calendar*</string>
		<string>*calendar*google.com*</string>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
	</array>
	<key>gmail.com</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>mail.google.com</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/mail</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>reader.google.com</key>
	<array>
		<string>*reader*google.com*</string>
		<string>*google.com*reader*</string>
		<string>feed://*</string>
		<string>*fusion.google.com*</string>
		<string>*doubleclick.net*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/reader</key>
	<array>
		<string>*reader*google.com*</string>
		<string>*google.com*reader*</string>
		<string>feed://*</string>
		<string>*fusion.google.com*</string>
		<string>*doubleclick.net*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>maps.google.com</key>
	<array>
		<string>*maps*google.com*</string>
		<string>*google.com*maps*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/maps</key>
	<array>
		<string>*maps*google.com*</string>
		<string>*google.com*maps*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>images.google.com</key>
	<array>
		<string>*images*google.com*</string>
		<string>*google.com*images*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/images</key>
	<array>
		<string>*images*google.com*</string>
		<string>*google.com*images*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>video.google.com</key>
	<array>
		<string>*video*google.com*</string>
		<string>*google.com*video*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/video</key>
	<array>
		<string>*video*google.com*</string>
		<string>*google.com*video*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>news.google.com</key>
	<array>
		<string>*news*google.com*</string>
		<string>*google.com*news*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/news</key>
	<array>
		<string>*news*google.com*</string>
		<string>*google.com*news*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>calendar.google.com</key>
	<array>
		<string>*calendar.google.com*</string>
		<string>*google.com*calendar*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/calendar</key>
	<array>
		<string>*calendar.google.com*</string>
		<string>*google.com*calendar*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>notebook.google.com</key>
	<array>
		<string>*notebook.google.com*</string>
		<string>*google.com*notebook*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/notebook</key>
	<array>
		<string>*notebook.google.com*</string>
		<string>*google.com*notebook*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>groups.google.com</key>
	<array>
		<string>*groups.google.com*</string>
		<string>*google.com*groups*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/groups</key>
	<array>
		<string>*groups.google.com*</string>
		<string>*google.com*groups*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>docs.google.com</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/docs</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>spreadsheets.google.com</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/spreadsheets</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>yahoo.com</key>
	<array>
		<string>*yahoo.com*</string>
		<string>*login*yahoo.com*</string>
	</array>
	<key>mail.yahoo.com</key>
	<array>
		<string>*mail*yahoo.com*</string>
		<string>*yahoo.com*mail*</string>
	</array>
	<key>facebook.com</key>
	<array>
		<string>*facebook.com*</string>
	</array>
	<key>flickr.com</key>
	<array>
		<string>*flickr.com*</string>
		<string>*login*yahoo.com*</string>
		<string>*flickr.yahoo.com*</string>
	</array>
	<key>twitter.com</key>
	<array>
		<string>*twitter.com*</string>
		<string>*twimg.com*</string>
	</array>
	<key>simplenoteapp.com</key>
	<array>
		<string>*simple-note.appspot.com*</string>
	</array>
	<key>netflix.com</key>
	<array>
		<string>*netflix.com*</string>
		<string>*microsoft.com*</string>
	</array>
</dict>
</plist>
