<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FUAllowBrowsingToAnyDomain</key>
	<false/>
	<key>FUBookmarkBarShown</key>
	<false/>
	<key>FUBookmarkBarShowsFavicons</key>
	<false/>
	<key>FUConfirmBeforeClosingMultipleTabsOrWindows</key>
	<true/>
	<key>FUContinuousSpellCheckingEnabled</key>
	<true/>
	<key>FUCookieAcceptPolicy</key>
	<integer>2</integer>
	<key>FUDownloadDirPath</key>
	<string>~/Downloads</string>
	<key>FUFluidAppName</key>
	<string>BrowserStack</string>
	<key>FUHandlers</key>
	<array/>
	<key>FUHasLaunchedUnlicensed</key>
	<false/>
	<key>FUHideLastClosedWindow</key>
	<false/>
	<key>FUHomeURLString</key>
	<string>http://www.browserstack.com/start</string>
	<key>FUInvertWhitelist</key>
	<false/>
	<key>FUJavaEnabled</key>
	<false/>
	<key>FUJavaScriptCanOpenWindowsAutomatically</key>
	<false/>
	<key>FUJavaScriptEnabled</key>
	<true/>
	<key>FULinksSentToOtherApplicationsOpenInBackground</key>
	<false/>
	<key>FULoadsImagesAutomatically</key>
	<integer>1</integer>
	<key>FUMatchingURLPatterns</key>
	<array/>
	<key>FUNewWindowsOpenWith</key>
	<integer>1</integer>
	<key>FUNumberOfBrowsaPlugIns</key>
	<integer>2</integer>
	<key>FUOpenLinksFromApplicationsIn</key>
	<integer>1</integer>
	<key>FUPinToStatusBar</key>
	<false/>
	<key>FUPlugInDrawerContentSizeString</key>
	<string>{320, 160}</string>
	<key>FUPlugInsEnabled</key>
	<true/>
	<key>FURecentURLs</key>
	<array/>
	<key>FUSelectNewWindowsOrTabsAsCreated</key>
	<false/>
	<key>FUSelectPriorSelectedTabOnTabClose</key>
	<true/>
	<key>FUSessionsEnabled</key>
	<true/>
	<key>FUShowDockBadgeLabels</key>
	<true/>
	<key>FUShowVisiblePlugInsInNewWindows</key>
	<false/>
	<key>FUSpacesBehavior</key>
	<integer>0</integer>
	<key>FUStatusBarShown</key>
	<true/>
	<key>FUTabBarCellOptimumWidth</key>
	<integer>175</integer>
	<key>FUTabBarHiddenAlways</key>
	<false/>
	<key>FUTabBarHiddenForSingleTab</key>
	<true/>
	<key>FUTabbedBrowsingEnabled</key>
	<true/>
	<key>FUTargetedClicksCreateTabs</key>
	<true/>
	<key>FUToolbarShown</key>
	<false/>
	<key>FUUseSeparateCookieJar</key>
	<false/>
	<key>FUVisiblePlugInIdentifiers</key>
	<array/>
	<key>FUWhitelistURLPatternStrings</key>
	<array>
		<dict>
			<key>value</key>
			<string>*www.browserstack.com*</string>
		</dict>
		<dict>
			<key>value</key>
			<string>*browserstack.com*</string>
		</dict>
	</array>
	<key>FUWindowFrameString</key>
	<string>{{218, 136}, {844, 528}}</string>
	<key>FUWindowLevel</key>
	<integer>0</integer>
	<key>FUWindowOpacity</key>
	<real>1</real>
	<key>FUWindowScreenIndex</key>
	<integer>0</integer>
	<key>FUWindowsHaveShadow</key>
	<true/>
	<key>FUZoomTextOnly</key>
	<false/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>WebIconDatabaseEnabled</key>
	<true/>
	<key>WebKitDeveloperExtras</key>
	<true/>
</dict>
</plist>
