<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FUShortcuts</key>
	<array>
		<dict>
			<key>shortcut</key>
			<string>g</string>
			<key>replacement</key>
			<string>google.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>g</string>
			<key>replacement</key>
			<string>google.com/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gw</string>
			<key>replacement</key>
			<string>google.com/wave</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gi</string>
			<key>replacement</key>
			<string>images.google.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gi</string>
			<key>replacement</key>
			<string>images.google.com/images?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gn</string>
			<key>replacement</key>
			<string>news.google.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gn</string>
			<key>replacement</key>
			<string>news.google.com/news?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gm</string>
			<key>replacement</key>
			<string>maps.google.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gm</string>
			<key>replacement</key>
			<string>maps.google.com/?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gc</string>
			<key>replacement</key>
			<string>google.com/codesearch</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gc</string>
			<key>replacement</key>
			<string>google.com/codesearch?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>gr</string>
			<key>replacement</key>
			<string>google.com/reader</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>yt</string>
			<key>replacement</key>
			<string>youtube.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>yt</string>
			<key>replacement</key>
			<string>youtube.com/results?search_query=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>y</string>
			<key>replacement</key>
			<string>yahoo.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>y</string>
			<key>replacement</key>
			<string>search.yahoo.com/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>yi</string>
			<key>replacement</key>
			<string>images.search.yahoo.com/search/images?p=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>yn</string>
			<key>replacement</key>
			<string>news.search.yahoo.com/news/search?p=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>ym</string>
			<key>replacement</key>
			<string>maps.yahoo.com/index.php#q1=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>b</string>
			<key>replacement</key>
			<string>bing.com/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>bi</string>
			<key>replacement</key>
			<string>bing.com/images/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>bn</string>
			<key>replacement</key>
			<string>bing.com/news/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>bm</string>
			<key>replacement</key>
			<string>bing.com/maps/default.aspx?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>bv</string>
			<key>replacement</key>
			<string>bing.com/videos/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>wa</string>
			<key>replacement</key>
			<string>wolframalpha.com/input/?i=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>ud</string>
			<key>replacement</key>
			<string>urbandictionary.com/define.php?term=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>t</string>
			<key>replacement</key>
			<string>twitter.com/home</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>t</string>
			<key>replacement</key>
			<string>search.twitter.com/search?q=%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>tu</string>
			<key>replacement</key>
			<string>twitter.com/%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>df</string>
			<key>replacement</key>
			<string>doesfollow.com/%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>dm</string>
			<key>replacement</key>
			<string>twitter.com/direct_messages</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>dm</string>
			<key>replacement</key>
			<string>twitter.com/direct_messages/create/%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>fb</string>
			<key>replacement</key>
			<string>facebook.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>d</string>
			<key>replacement</key>
			<string>dictionary.reference.com/browse/%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>th</string>
			<key>replacement</key>
			<string>thesaurus.reference.com/browse/%@</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>tm</string>
			<key>replacement</key>
			<string>techmeme.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>tc</string>
			<key>replacement</key>
			<string>techcrunch.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>hp</string>
			<key>replacement</key>
			<string>huffingtonpost.com</string>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>df</string>
			<key>replacement</key>
			<string>daringfireball.net</string>
		</dict>
	</array>
</dict>
</plist>
